<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>
<head>
    <title>TANGO</title>
</head>

<body>
<img src="{% static "icon.jpg" %}" alt="Picture of Rango"  width="90" height="160" />

<h1>RANGO - The Stocks App </h1>

<p>
    {% if companies %}
        <ul>
            {% for company in companies %}
            <li><a href="/rango/company/{{ company.url }}">{{ company.name }}</a> - <strong>${{ company.currentPrice }}</strong></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Add Companies to your list</strong>
    {% endif %}
</p>

<strong>{{ boldmessage }}</strong><br />

<a href="/rango/about/">Read About Rango</a><br />
</body>

</html>


